* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.color-switcher {
  background-color: #c9c9c9;
}

ul {
  list-style: none;
}

.color-switcher__buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 250px 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: 2px solid rgb(150, 150, 150);

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;

  cursor: pointer;
  text-align: center;
  padding: 5px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.container {
  max-width: 250px;
  height: 30px;
  display: flex;
  gap: 5px;
}

input {
  display: inline-block;
  width: 100%;
  min-height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid rgb(150, 150, 150);
}

.container > button {
  padding: 3px 10px;
}

.timer {
  display: flex;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;

  text-align: center;
  text-transform: uppercase;
}

.value {
  font-size: 50;
  line-height: 1.1;
}

.label {
  font-size: 12;
}
